
{% extends "core/common/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
{% include "core/common/messages.html" %}
<div class="site-blocks-cover" style="background-image: url({{ latest.image.url }});width: 100%" data-aos="fade">
  <div class="container">
    <div class="row align-items-start align-items-md-center justify-content-end">
      <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
        <h1 class="mb-2">Perfect Products, <br> Low Price</h1>
        <div class="intro-text text-center text-md-left">
          <p class="mb-4">It is only here where you can get these quality products with low price. Take your chance by placing a Bid!</p>
          <p>
            <a href="#featured-products" class="btn btn-sm btn-primary shop-now-btn">Shop Now</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm site-blocks-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
        <div class="icon mr-4 align-self-start">
          <span class="icon-truck"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Free Shipping</h2>
          <p>We offer free shipping to our beloved customers around Tanzania with condition of half-payment(advance fee) which is about 50% of the product price.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon mr-4 align-self-start">
          <span class="icon-refresh2"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Free Returns</h2>
          <p>In MnadaOnline customer comes first, we value our customers the most and that includes customers satisfaction. So to guarantee you that we accept product returns if customer is not satisfied. Just to make you happy 😊!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon mr-4 align-self-start">
          <span class="icon-help"></span>
        </div>
        <div class="text">
          <h2 class="text-uppercase">Customer Support</h2>
          <p>To make sure our service is available 24/7, we have a solid and very active customer care that offers instant feedbacks.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="site-section block-3 site-blocks-2 bg-light">
  <div class="container">
    <div class="row justify-content-center" id="featured-products">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Featured Products</h2>
      </div>
    </div>
    <div class="row actual-shop">
      <div class="col-md-12">
        <div class="nonloop-block-3 owl-carousel">
          {% for product in products %}
          <div class="item">
            <div class="block-4 text-center">
              <figure class="block-4-image">
                <a href="{% url 'product_details' product.id %}">
                  <img src="{{ product.image.url }}" alt="Image placeholder" class="img-fluid">
                </a>
              </figure>
              <div class="block-4-text p-4">
                <h3><a href="#">{{ product.name.title }}</a></h3>
                <p class="mb-0">Valid Until: {{ product.valid_until }}</p>
                {% if product.get_time_left|slice:"1" == '-' %}
                <p class="mb-0">Time Passed: <span style="color: red;">Bidding Closed</span></p>
                {% else %}
                <p class="mb-0">Time Left: {{ product.get_time_left }}</p>
                {% endif %}
                <p class="mb-0">Bids Placed: {{ product.get_total_bids }}</p>
                <p class="text-primary font-weight-bold">TZS {{ product.price|intcomma }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-section block-8">
  <div class="container">
    <div class="row justify-content-center  mb-5">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Big Sale!</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-7 mb-5">
        <a href="{%url 'product_details' big_sale.product.id %}"><img src="{{ big_sale.product.image.url }}" alt="{{ big_sale.product.name.title }}" class="img-fluid rounded"></a>
      </div>
      <div class="col-md-12 col-lg-5 text-center pl-md-5">
        <h2><a href="{%url 'product_details' big_sale.product.id %}">{{ big_sale.percentage_calc }}% than product price</a></h2>
        <p class="post-meta mb-4">Won By <a href="#">{{ big_sale.product.bid_winner.get_full_name }}</a> <span class="block-8-sep">&bullet;</span>
        <p>{{ big_sale.product.description|safe }}</p>
        <p><a href="#featured-products" class="btn btn-primary btn-sm">Shop Now</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}